<!-- Hier wird dynamisch die Farben und Text hineingefügt -> über die ID -->
<div id="NuserInputSLABS" class="p-grid" style="margin-top: 15px"></div>
<div id="NuserInputcsF" class="p-grid" style="margin-top: 15px"></div>
<div id="NuserInputcsR" class="p-grid" style="margin-top: 15px"></div>
<div id="NuserInputcsC" class="p-grid" style="margin-top: 15px"></div>
<div id="NuserInputcsS" class="p-grid" style="margin-top: 15px"></div>
<div id="NuserInputprF" class="p-grid" style="margin-top: 15px"></div>
<div id="NuserInputprR" class="p-grid" style="margin-top: 15px"></div>
<div id="NuserInputprC" class="p-grid" style="margin-top: 15px"></div>
<div id="NuserInputprS" class="p-grid" style="margin-top: 15px"></div>
<div id="NuserInputCR" class="p-grid" style="margin-top: 15px"></div>

<div id="WuserInputWALLS" class="p-grid" style="margin-top: 35px"></div>
<div id="WuserInputcsF" class="p-grid" style="margin-top: 15px"></div>
<div id="WuserInputcsR" class="p-grid" style="margin-top: 15px"></div>
<div id="WuserInputcsC" class="p-grid" style="margin-top: 15px"></div>
<div id="WuserInputcsS" class="p-grid" style="margin-top: 15px"></div>
<div id="WuserInputprF" class="p-grid" style="margin-top: 25px"></div>
<div id="WuserInputprR" class="p-grid" style="margin-top: 15px"></div>
<div id="WuserInputprC" class="p-grid" style="margin-top: 15px"></div>
<div id="WuserInputprS" class="p-grid" style="margin-top: 15px"></div>
<div id="WuserInputCR" class="p-grid" style="margin-top: 15px"></div>

<div id="CuserInputCOLS" class="p-grid" style="margin-top: 35px"></div>
<div id="CuserInputcsF" class="p-grid" style="margin-top: 15px"></div>
<div id="CuserInputcsR" class="p-grid" style="margin-top: 15px"></div>
<div id="CuserInputcsC" class="p-grid" style="margin-top: 15px"></div>
<div id="CuserInputcsS" class="p-grid" style="margin-top: 15px"></div>
<div id="CuserInputprF" class="p-grid" style="margin-top: 15px"></div>
<div id="CuserInputprR" class="p-grid" style="margin-top: 15px"></div>
<div id="CuserInputprC" class="p-grid" style="margin-top: 15px"></div>
<div id="CuserInputprS" class="p-grid" style="margin-top: 15px"></div>
<div id="CuserInputCR" class="p-grid" style="margin-top: 15px"></div>
