<div class="p-col-12">
  <div class="p-grid">
    <div class="box-custom-viewer">
      <app-forge-viewer
        [viewerOptions]="viewerOptions3d"
        (onObjectTreeCreated)="runDifferentFunc()"
        (onSelectionChanged)="selectionChanged($event)"
      ></app-forge-viewer>
    </div>
  </div>
</div>
