.box-custom-viewer {
  width: 95%;
  height: 95vh;
  margin-top: 25px !important;
  margin: auto;
  /* Nur für Development */
  border: 5px solid #ecb216;
}

:host ::ng-deep #categoryLegend {
  top: 50px;
  left: 100px;
  width: 350px;
  height: 230px;
  min-width: 270px;
  min-height: 230px;
  background-color: rgba(255, 255, 255, 0.5) !important;
}

:host ::ng-deep .docking-panel-container-solid-color-a {
  background-color: rgba(255, 0, 0, 0) !important;
}

/* Input Panel Stuff*/
:host ::ng-deep #initialInputPanel {
  top: 100px;
  left: 75px;

  /* background-color: rgba(255, 255, 255, 0.1); */
  background-color: rgba(255, 255, 255, 0.5) !important;
}

:host ::ng-deep #inputPanel {
  top: 100px;
  left: 75px;
  /* background-color: rgba(255, 255, 255, 0.1); */
  background-color: rgba(255, 255, 255, 0.5) !important;
}

:host ::ng-deep #timetablePanel {
  top: 50px;
  left: 100px;
  width: 600px;
  height: 600px;
  min-width: 600px;
  min-height: 600px;
  background-color: rgba(255, 255, 255, 0.5) !important;
}

:host ::ng-deep .custom-input {
  background-color: #ecb31656;
  width: 80%;
  border-radius: 5px;
  border-color: #ecb216;
  padding: 5px;
}

:host ::ng-deep .button-footer-panel {
  height: 35px;
  width: 160px;
  transition: background-color 0.2s;
  border-radius: 5px;
  background-color: #ecb216;
  color: white;
  border: 1px solid black;
  margin-top: 2.5px;
}

:host ::ng-deep .button-footer-panel:hover {
  height: 35px;
  width: 160px;
  transition: background-color 0.2s;
  border-radius: 5px;
  background-color: #8b6a0d;
  color: white;
  border: 1px solid black;
  margin-top: 2.5px;
}

:host ::ng-deep .lds-roller {
  /* added */
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  visibility: visible;
  text-align: center;
  /* modified */
  display: inline-block;
  width: 640px;
  height: 640px;
  transform: rotate(45deg);
  transform-origin: 320px 320px;
  opacity: 1 !important;
}

:host ::ng-deep .lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 400px 400px;
  opacity: 1 !important;
}

:host ::ng-deep .lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #ecb216;
  margin: -40px 0 0 -40px;
  opacity: 1 !important;
}

:host ::ng-deep .lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}

:host ::ng-deep .lds-roller div:nth-child(1):after {
  top: 630px;
  left: 630px;
}

:host ::ng-deep .lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}

:host ::ng-deep .lds-roller div:nth-child(2):after {
  top: 680px;
  left: 560px;
}

:host ::ng-deep .lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}

:host ::ng-deep .lds-roller div:nth-child(3):after {
  top: 710px;
  left: 480px;
}

:host ::ng-deep .lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}

:host ::ng-deep .lds-roller div:nth-child(4):after {
  top: 720px;
  left: 400px;
}

:host ::ng-deep .lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}

:host ::ng-deep .lds-roller div:nth-child(5):after {
  top: 710px;
  left: 320px;
}

:host ::ng-deep .lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}

:host ::ng-deep .lds-roller div:nth-child(6):after {
  top: 680px;
  left: 240px;
}

:host ::ng-deep .lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}

:host ::ng-deep .lds-roller div:nth-child(7):after {
  top: 630px;
  left: 170px;
}

:host ::ng-deep .lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}

:host ::ng-deep .lds-roller div:nth-child(8):after {
  top: 560px;
  left: 120px;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes p-progress-spinner-color {
  100%,
  0% {
    stroke: #ecb216;
  }
  10% {
    stroke: #eeba2f;
  }
  20% {
    stroke: #f0c349;
  }
  30% {
    stroke: #f2cb63;
  }
  40% {
    stroke: #f4d47d;
  }
  50% {
    stroke: #f6dc97;
  }
  60% {
    stroke: #f8e5b1;
  }
  70% {
    stroke: #faedcb;
  }
  80% {
    stroke: #fcf6e5;
  }
  90% {
    stroke: #ffffff;
  }
}
#dashboard {
  overflow: auto;
  height: calc(100vh - 100px);
}

.transition-width {
  transition: width 1s ease-in-out;
}

.dashboardPanel {
  width: 100%;
  padding: 3%;
  display: block;
}
