.spinner {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 0%;
  width: 100%;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.75);
  /* Black fallback color */
  /* background-color: rgba(0, 0, 0, 0.9); */
  /* Black w/opacity */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */

:host ::ng-deep .spinner-content {
  position: relative;
  top: 25%;
  /* 25% from the top */
  margin-top: 750px;
  margin-left: 25%;
  width: 50%;
  /* 100% width */
  text-align: center;
  /* Centered text/links */
  margin-top: 30px;
  /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* Scrollbar customize */

/* width */

:host ::ng-deep ::-webkit-scrollbar {
  width: 10px;
}

/* Track */

:host ::ng-deep ::-webkit-scrollbar-track {
  background: #ecb216;
}

/* Handle */

:host ::ng-deep ::-webkit-scrollbar-thumb {
  background: black;
}
