<div class="row">
  <div class="col-sm-8">
    <div id="forge-viewer" class="viewer"></div>
  </div>
  <div class="col-sm-4">
    <div id="dashboard"></div>
    <!-- <div id="chart"></div> -->
  </div>

  <!-- <div id="forge-viewer" class="viewer"></div>
  <div id="dashboard"></div>
  <div id="dashboard" class="col-sm-4"></div> -->

  <!-- In CSS hat es auch noch Daten -->
  <!-- <button id="MyPrevButton" class="MyNavButton">Previous</button> -->
  <!-- <button id="MyNextButton" class="MyNavButton">Next</button> -->
  <!-- </div>
</div> -->
  <!-- <div class="reflex-layout reflex-container vertical configurator">
  <div class="reflex-element" style="-webkit-box-flex: 0.6; flex: 0.6 1 0%">
    <div style="height: 100%; width: 100%">
      <div id="forge-viewer"></div>
    </div>
  </div>
  <div class="reflex-splitter" style="display: block"></div>
  <div
    class="reflex-element"
    style="-webkit-box-flex: 0.4; flex: 0.4 1 0%; display: block"
  >
    <div style="height: 100%; width: 100%">
      <div id="dashboard"></div>
    </div>
  </div> -->
  <!-- <div id="dashboard"></div> -->
  <!-- <div id="dashboard" class="col-sm-4"></div> -->

  <!-- In CSS hat es auch noch Daten -->
  <!-- <button id="MyPrevButton" class="MyNavButton">Previous</button> -->
  <!-- <button id="MyNextButton" class="MyNavButton">Next</button> -->
  <!-- </div>
  </div> -->
</div>
