@import url("https://developer.api.autodesk.com/modelderivative/v2/viewers/7.*/style.min.css");
#forge-viewer {
  position: relative;
  /* Hier noch ändern wenn Buttons weg */
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
}

.row {
  height: 100%;
  width: 100%;
}

.test {
  height: 100% !important;
  width: 100% !important;
}
#chart {
  max-width: 650px;
  margin: 35px auto;
}

#dashboard {
  position: relative;
  /* height: 100%; */
  width: 100%;
  /* right: 0px; */
  overflow: auto;
  height: calc(100vh - 100px);
  zoom: 100%;
}

.transition-width {
  transition: width 1s ease-in-out;
}

:host ::ng-deep .dashboardPanel {
  width: 100% !important;
  /* width: 100%; */
  /* height: 100% !important; */
  padding: 3%;
  display: block;
}

.viewer {
  background-color: #ecb216;
  /* Gleiche Höhe wie PDF Viewer */
  /* Immer angepasst an Box */
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 0;
}

/* :host ::ng-deep .adsk-control.adsk-toolbar.adsk-toolbar-vertical {
    right: unset;
    left: 15px;
} */

/* General Things */

/* Tooltip Farbe geändert */

:host ::ng-deep .adsk-control-tooltip {
  background-color: #ecb216 !important;
  border: 1px solid #ecb216;
}

/* Tooltip auf der rechten Seite */

:host
  ::ng-deep
  .adsk-viewing-viewer
  .adsk-toolbar-vertical
  .adsk-control-tooltip {
  bottom: 130%;
  /* top: unset; */
  right: 20%;
  /* right: unset; */
  /* left: 120%; */
}

/* Hoover des Buttons geändert */

:host ::ng-deep .adsk-viewing-viewer.dark-theme .adsk-button:hover {
  color: white;
  border: 1px solid white;
}

/* Background der Buttons geändert */

:host ::ng-deep .adsk-viewing-viewer.dark-theme .adsk-control-group {
  background-color: #ecb216;
  content: "2";
  color: black;
}

/* Wenn aktiv dann nicht blau eingefärbt */

:host ::ng-deep .adsk-button.active {
  color: white !important;
}

/* End of General Things */

/* Levels Toolbar -> Control Group -> Buttons */

:host ::ng-deep #my-custom-view-toolbar-levels {
  right: 15px;
  left: unset;
  width: 200px;
}

:host ::ng-deep .showing-levels {
  width: 178px;
}

:host ::ng-deep .showing-levels:hover {
  width: 178px;
}

:host ::ng-deep .crosshair {
  cursor: crosshair;
}

/*Level Toolbar -> Control Group -> Buttons */

:host ::ng-deep #my-custom-view-toolbar-etappen {
  right: unset;
  left: 300px;
  width: 200px;
  overflow: auto;
}

:host ::ng-deep .showing-Etappen {
  width: 178px;
}

:host ::ng-deep .showing-Ettapen:hover {
  width: 178px;
}

:host ::ng-deep .crosshair {
  cursor: crosshair;
}

/* Levels Toolbar -> Control Group -> Buttons */

:host ::ng-deep #my-custom-view-toolbar-concrete {
  right: unset;
  left: 15px;
  width: 200px;
}

:host ::ng-deep .showing-concrete {
  width: 178px;
}

:host ::ng-deep .showing-concrete:hover {
  width: 178px;
}

:host ::ng-deep .crosshair {
  cursor: crosshair;
}

/* Alle Buttons werden im GuiViewer3D ausgeblendet => Reihenfolge korrekt */

/* :host ::ng-deep .adsk-viewing-viewer #toolbar-orbitTools {
  display: none !important;
}

:host ::ng-deep .adsk-viewing-viewer #toolbar-panTool {
  display: none !important;
}

:host ::ng-deep .adsk-viewing-viewer #toolbar-zoomTool {
  display: none !important;
}

:host ::ng-deep .adsk-viewing-viewer #toolbar-bimWalkTool {
  display: none !important;
}

:host ::ng-deep .adsk-viewing-viewer #toolbar-cameraSubmenuTool {
  display: none !important;
}

:host ::ng-deep .adsk-viewing-viewer #toolbar-measurementSubmenuTool {
  display: none !important;
}

:host ::ng-deep .adsk-viewing-viewer #toolbar-sectionTool {
  display: none !important;
}

:host ::ng-deep .adsk-viewing-viewer #toolbar-explodeTool {
  display: none !important;
}
/* 
:host ::ng-deep .adsk-viewing-viewer #toolbar-modelStructureTool {
    display: none!important
} */

/* :host ::ng-deep .adsk-viewing-viewer #toolbar-propertiesTool {
    display: none!important
} */

/* 
:host ::ng-deep .adsk-viewing-viewer #toolbar-settingsTool {
  display: none !important;
}

/* :host ::ng-deep .adsk-viewing-viewer #toolbar-layers-tool {
    display: none!important
} */

/* :host ::ng-deep .adsk-viewing-viewer #toolbar-fullscreenTool {
  display: none !important;
} 
*/

/* :host ::ng-deep .menu.docking-panel.docking-panel-container-solid-color-a {
    visibility: hidden !important;
} */

/* .MyNavButton {
    position: absolute;
    top: 0;
    z-index: 1;
    padding: 1em;
    font-size: 1em;
    cursor: pointer;
  }
  #MyPrevButton {
    left: 50;
  }
  #MyNextButton {
    right: 0;
  } */

@keyframes slideMe {
  0% {
    transform: skewX(53deg) translateX(-500px);
    opacity: 0;
  }
  60% {
    transform: translateX(0px);
  }
  62% {
    transform: skewX(0deg) translateX(30px);
  }
  70% {
    transform: skew(-20deg);
    opacity: 1;
  }
  80% {
    transform: skew(0deg) translate(0);
  }
  90% {
    transform: skew(-5deg);
  }
  100% {
    transform: skew(0deg);
  }
}

:host ::ng-deep .geometry {
  max-width: 200px;
  opacity: 0.8;
  height: 200px;
  font-family: "Helvetica Neue Light", "Segoe UI Semilight", sans-serif;
  font-size: 13px;
  color: #333333;
  display: inline-block;
  margin-left: 1em;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  cursor: pointer;
  /* cursor: crosshair; */
  margin-top: 10px;
}
