<div class="barchart">
  <div class="container">
    <div class="col-sm-4 text-center" style="width: 500px; height: 600px">
      <h2 class="text-center">Bar chart using Chartjs and Angular 9</h2>
      <canvas
        baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [legend]="barChartLegend"
        [colors]="barChartColors"
        [chartType]="barChartType"
      >
      </canvas>
    </div>
  </div>
</div>
